@model TodoModel

@{
    ViewData["Title"] = "Todo Details";
}

<h1>Todo Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Content</dt>
        <dd class="col-sm-10">@Model.Content</dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
